# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version

# Virtual Environment
venv/
env/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Docker
.env
docker-compose.override.yml

# Logs
*.log
